  /* ==========================================================================
	 Header
	 ========================================================================== */

body {
	&.body--mobile-nav-open {
		overflow: hidden;
		padding-right: 15px;
		@media (max-width: 767px) {
			padding-right: 0;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	background-color: #FFC947;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 50px;
	padding: 0 0.75rem;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -0.75rem;
	@media (min-width: 768px) {
		margin: 0;
	}
}

.header__title {
	opacity: 1;
	font-family: 'Oleo Script', cursive;
	font-weight: 400;
	font-size: 1.5rem; /* 24px */
	line-height: 50px;
	color: #0A1931;
	z-index: 2;
	@media (min-width: 768px) {
		font-size: 1.875rem; /* 30px */
		opacity: 1;
	}
}

.header__nav {
	display: none;
	margin: 0;
	padding: 0;
	@media (min-width: 768px) {
		display: flex;
		justify-content: right;
		flex-grow: 1;
	}
}

.header__nav-item {
	display: flex;
	align-items: center;
	list-style-type: none;
	&:first-child {
		padding-left: 0;
	}
	@media (min-width: 768px) {
		padding-left: 3rem;
	}
	@media (min-width: 992px) {
		
	}
	@media (min-width: 1200px) {
		
	}
}

.header__nav-link {
	display: block;
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5rem; /* 24px */
	color: #0A1931;
	padding: 0.5rem 0;
	&:hover {
		color: #185ADB;
	}
	@media (min-width: 576px) {
	}
	@media (min-width: 768px) {
		font-size: 1.125rem; /* 18px */
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 1200px) {
	}
}

.header__nav-link--is-selected {
	&::after {
		opacity: 0.5;
	}
}

.header__open-mobile-nav {
	cursor: pointer;
	display: block;
	position: relative;
	z-index: 1;
	background-color: transparent;
	width: 36px;
	height: 46px;
	border: 0;
	outline: 0;
	@media (min-width: 768px) {
		display: none;
	}
}

.header__open-mobile-nav-icon {
	display: none;
	&.is-visible {
		display: inline-block;
	}
}

.header__open-mobile-nav-path {
	fill: #0A1931;
}

.header__close-mobile-nav-icon {
	display: none;
	&.is-visible {
		display: inline-block;
	}
}

.header__close-mobile-nav-polygon {
	fill: #0A1931;
}

.header__mobile-nav {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: opacity 0.3s;
	opacity: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
	padding-top: 103px;
	background-color: #FFC947;
	z-index: 1;
	&.is-visible {
		visibility: visible;
	}
	&.is-faded-in {
		opacity: 1;
	}
}

.header__mob-nav-link {
	display: block;
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5rem; /* 24px */
	color: #0A1931;
	padding: 0.5rem 0;
	transition: none;
	&:hover {
		color: #185ADB;
	}
	@media (min-width: 576px) {
	}
	@media (min-width: 768px) {
		font-size: 1.125rem; /* 18px */
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 1200px) {
	}
}


.header__nav-li {
	color: #fff;
	text-align: center;
	list-style-type: none;
	display: block;
}

/* ==========================================================================
	About Section
	========================================================================== */

.section--about {
	position: relative;
	background-color: #0A1931;
	padding: 7rem 0 3rem;
	overflow: hidden;
  justify-content: center;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: linear-gradient(180deg, rgba(24,90,219,0) 75%, rgba(24,90,219,0.5) 100%);
	}
  @media (min-width: 576px) {
    height: 100vh;
    padding: 50px 0 0;
	}
	// @media (min-width: 768px) {
	// 	padding: 10rem 0 7rem;
	// }
	// @media (min-width: 992px) {
	// 	padding: 15rem 0 12rem;
	// }
	// @media (min-width: 1200px) {
	// 	padding: 18rem 0 15rem;
	// }
}	 

.section--about__name-container {
	margin-bottom: 1rem;
}

.section--about__name {
	text-align: left;
	margin-bottom: 0.5rem;
}

.section--about__name span:not(.sr-only) {
	opacity: 0;
	display: inline-block;
	// position: relative;
}

.section--about__title {
	text-align: left;
	font-size: 1.125rem; /* 18px */
	opacity: 0;
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	@media (min-width: 576px) {
		font-size: 1.3125rem; /* 21px */
	}
	@media (min-width: 768px) {
		font-size: 1.5rem; /* 24px */
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 1200px) {
	}
}

.section--about__border {
	opacity: 0;
	height: 2px;
	// background-color: #FFC947;
	background-color: rgba(255, 255, 255, 0.6);
	margin-bottom: 2rem;
	@media (min-width: 768px) {
		margin-bottom: 4rem;
	}
}	
.section--about__p {
	opacity: 0;
	font-size: 1rem; /* 16px */
	line-height: 1.6;
	color: rgba(255, 255, 255, 0.8);
	text-align: left;
	margin-bottom: 1.5rem;
	@media (min-width: 576px) {
	}
	@media (min-width: 768px) {
		font-size: 1.125rem; /* 18px */
	}
	@media (min-width: 992px) {
		// font-size: 1.3125rem; /* 21px */
		font-size: 1.5rem; /* 24px */
	}
	@media (min-width: 1200px) {
	}
}

.section--about__contact-list {
	text-align: left;
}

.section--about__contact-item {
	display: block;
	&:first-child {
		margin-left: 0;
	}
	@media (min-width: 768px) {
		display: inline-block;
		margin-right: 1rem;
	}
}

.section--about__contact-link {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	// font-size: 1.125rem; /* 18px */
	// font-size: 1.3125rem; /* 21px */
	// color: #fff;
	// color: #185ADB;
	&:hover {
		color: #185ADB;
		// color: #FFC947;
	}
}


/* ==========================================================================
	Skills Section
	========================================================================== */

	.section--skills {
		background-color: #185ADB;
		// padding: 10rem 0 7rem;
		padding: 5rem 0 2rem;
		@media (min-width: 768px) {
			// padding: 15rem 0 12rem;
		}
		@media (min-width: 992px) {
			padding: 10rem 0 7rem;
		}
	}	

	.section--skills__border {
		height: 2px;
		background-color: rgba(255,255,255,0.6);
		margin-bottom: 2rem;
		@media (min-width: 768px) {
			margin-bottom: 4rem;
		}
	}

	.section--skills__box-container {
		display: flex;
		flex-wrap: wrap;
	}

	.section--skills__box {
		flex-basis: 100%;
		padding-bottom: 3rem;
		@media (min-width: 768px) {
			flex-basis: 50%;
			padding-right: 3rem;
		}
	}

	.section--skills__h3 {

	}

	.section--skills__p {
		font-size: 1rem; /* 16px */
		color: rgba(255,255,255,0.6);
		margin: 0 auto;
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
		}
		@media (min-width: 992px) {
			font-size: 1.125rem; /* 18px */
		}
		@media (min-width: 1200px) {
		}
	}

/* ==========================================================================
	Work Section
	========================================================================== */

	.section--work {
		background-color: #eee;
		overflow-x: hidden;
		padding: 5rem 0 5rem;
		@media (min-width: 768px) {
			// padding: 15rem 0 12rem;
		}
		@media (min-width: 992px) {
			padding: 10rem 0 7rem;
		}
	}	

	.section--work__header {
		color: #0A1931;
	}

	.section--work__header-group span {
		opacity: 0;
		display: inline-block;
	}

	.section--work__border {
		opacity: 0;
		height: 2px;
		background-color: #FFC947;
		margin-bottom: 2rem;
		@media (min-width: 768px) {
			margin-bottom: 4rem;
		}
	}	

	.section--work__project-container {
		@media (min-width: 992px) {
			max-width: 100%;
		}
	}

	.section--work__project {
		margin-bottom: 5rem;
		&:last-child {
			margin-bottom: 0;
		}
		@media (min-width: 768px) {
			margin-bottom: 10rem;
		}
	}

	.section--work__img-container {
		transform: perspective(1500px);
		position: relative;
		overflow: hidden;
		margin-left: -0.75rem;
		margin-right: -0.75rem;
		margin-bottom: 2rem;
		// text-align: center;
		padding-bottom: 63%;
		@media (min-width: 576px) {
			
		}
		@media (min-width: 768px) {
			margin-left: auto;
			margin-right: auto;
		}
		@media (min-width: 992px) {
			margin-bottom: 0;
		}
	}

	.section--work__img-container--th {
		padding-bottom: 111%;
		@media (min-width: 576px) {
			padding-bottom: 55%;
		}
	}

	.section--work__img-container--sb {
		padding-bottom: 111%;
		@media (min-width: 576px) {
			padding-bottom: 55%;
		}
	}

	.section--work__img-container--fed {
		padding-bottom: 98%;
		@media (min-width: 576px) {
			padding-bottom: 63%;
		}
	}

	.section--work__img-container--dad {
		padding-bottom: 98%;
		@media (min-width: 576px) {
			padding-bottom: 63%;
		}
	}

	.section--work__img-container--qcard {
		padding-bottom: 90%;
		@media (min-width: 576px) {
			padding-bottom: 57%;
		}
	}

	.section--work__img {
		display: none;
		position: absolute;
		max-width: 100%;
		@media (min-width: 576px) {
			display: block;
		}
	}

	.section--work__img--mob {
		display: block;
		position: absolute;
		width: 100%;
		@media (min-width: 576px) {
			display: none;
		}
	}

	.section--work__img--qcard {
		margin-top: -43%;
	}

	.section--work__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (min-width: 992px) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.section--work__text-container--left {
		// padding-right: 0;
		// padding-left: 0;
		@media (min-width: 992px) {
			padding-left: 2.75rem;
		}
	}

	.section--work__text-container--right {
		// padding-right: 0;
		// padding-left: 0;
		@media (min-width: 992px) {
			padding-right: 2.75rem;
		}
	}

	.section--work__h3 {
		color: #0A1931;
		margin-bottom: 0.5rem;
		font-size: 1.5rem; /* 24px */
		@media (min-width: 768px) {
			font-size: 1.875rem; /* 30px */
		}
	}

	.section--work__title {
		font-size: 1rem; /* 16px */
		text-transform: uppercase;
		margin-bottom: 1.5rem;
		padding-bottom: 0.5rem;
		color: #0A1931;
		opacity: 0.6;
		border-bottom: solid 2px rgba(0,0,0,0.25);
	}

	.section--work__p {
		font-size: 1rem; /* 16px */
		// color: rgba(255,255,255,0.6);
		color: #0A1931;
		opacity: 0.6;
		margin-bottom: 1rem;
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
			font-size: 1.125rem; /* 18px */
		}
		@media (min-width: 992px) {
			font-size: 1rem; /* 16px */
		}
		@media (min-width: 1200px) {
			font-size: 1.125rem; /* 18px */
		}
	}

	.section--work__list {
		margin-bottom: 0.75rem;
	}

	.section--work__list li {
		display: inline-block;
		font-family: 'DM Sans', sans-serif;
		font-weight: 400;
		font-size: 0.875rem; /* 14px */
    text-transform: uppercase;
		color: #0A1931;
    // background-color: #ddd;
    border: solid 1px #FFC947;
    border-radius: 15px;
    margin: 0 0.25rem 0.75rem 0;
    padding: 0.1rem 0.75rem 0;
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
			// font-size: 1rem; /* 16px */
		}
		@media (min-width: 992px) {
			// font-size: 1rem; /* 16px */
		}
		@media (min-width: 1200px) {
			// font-size: 1.125rem; /* 18px */
		}
	}

	.section--work__a {
		font-size: 1rem; /* 16px */
		// color: rgba(255,255,255,0.6);
		color: #0A1931;
		font-family: 'DM Sans', sans-serif;
		font-weight: 700;
		margin: 0 auto;
		display: inline-block;
		&:hover {
			color: #185ADB;
		}
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
			font-size: 1.125rem; /* 18px */
		}
		@media (min-width: 992px) {
		}
		@media (min-width: 1200px) {
		}
	}

	
	

/* ==========================================================================
	Experience Section
	========================================================================== */

	.section--experience {
		position: relative;
		background-color: #0A1931;
		padding: 5rem 0 2rem;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: linear-gradient(0deg, rgba(24,90,219,0) 75%, rgba(24,90,219,0.5) 100%);
		}
		@media (min-width: 768px) {
			// padding: 15rem 0 12rem;
		}
		@media (min-width: 992px) {
			padding: 10rem 0 7rem;
		}
	}

	.section--experience__container {
		position: relative;
	}
	
	.section--experience__header-group span {
		opacity: 0;
		display: inline-block;
	}

	.section--experience__border {
		height: 2px;
		background-color: rgba(255,255,255,0.6);
		margin-bottom: 2rem;
		@media (min-width: 768px) {
			margin-bottom: 4rem;
		}
	}

	.section--experience__box-container {
		display: flex;
		flex-wrap: wrap;
	}

	.section--experience__box {
		flex-basis: 100%;
		padding-bottom: 4rem;
		@media (min-width: 768px) {
			flex-basis: 50%;
			padding-right: 1rem;
		}
		@media (min-width: 992px) {
			padding-right: 3rem;
		}
	}

	.section--experience__date {
		font-size: 1rem; /* 16px */
		font-style: italic;
		margin: 0 auto 0.5rem;
	}
	
	.section--experience__co {
		font-size: 1.5rem; /* 24px */
		font-weight: 700;
		margin: 0 auto 0.3rem;
	}
	
	.section--experience__title {
		font-size: 1rem; /* 16px */
		color: rgba(255, 255, 255, 0.6);
		margin: 0 auto 1.5rem;
		text-transform: uppercase;
	}

	.section--experience__list li {
		font-family: 'DM Sans', sans-serif;
		font-weight: 400;
		font-size: 1rem; /* 16px */
		color: #fff;
		margin: 0 auto 0.75rem;
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
		}
		@media (min-width: 992px) {
			font-size: 1.125rem; /* 18px */
		}
		@media (min-width: 1200px) {
		}
	}

	